body {
    font-family: Arial;
    margin: 0;
}

.wrapper {
    background-color: khaki;
    width: 800px;
    margin: 0 auto;
    border: 4px solid orange;
    box-sizing: border-box;
    margin-top: 60px;
}

.menu {
    background-color: #310d88;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    max-width: 800px;
    margin: auto;
    box-sizing: border-box;

}

.menu a {
    color: white;
    text-decoration: none;
    margin-right: 10px;
}

.first {
    background-color: lightgrey;
    padding: 10px;
}

.second {
    background-color: lightpink;
    padding: 10px;
}

.third {
    background-color: lightskyblue;
    padding: 10px;
}

.first,
.second,
.third:hover {
    display: inline-block;
}

.logo {
    width: 40px;
    height: 40px;

}
.main-picture{
    height: 300px;
    background-color: lightskyblue;
    /* background-image: url(f641b0c0-0f97-11ea-944e-5f83364b979a.jpeg); */
    background-size: cover;
    background-position: center;
    /* background: url(f641b0c0-0f97-11ea-944e-5f83364b979a.jpeg) center / cover; */
    position: relative;
}
.main p{
    padding: 0 20px ;
}
.main{
    padding: 20px;
    background-color: rgba(151, 190, 151, 0.527);
}
/* .footer{
    padding: 20px;
    background-color: pink;
    position: relative;
    bottom: 46px;
    left: 79px;
} */
.main-picture-text{
    background-color: rgb(241, 20, 20);
    padding: 3px;
    position: absolute;
    right: 0;
    bottom: 0;
}
.info{
    display: flex;
    align-items: flex-start;
    position:relative;
    
}
.text{
    display: flex;
}
.info:hover .info-content{
    display: block;
}
.info-icon{
    background: orange;
    padding: 5px;
}
.info-content{
    background: lightblue;
    padding: 5px;
    margin-left:5px;
    display: none;
    position: absolute;
    left:100%;
}
